<%= form_for @post, html: {class: "form-horizontal"} do |f| %>
  <!-- Msg Erros --> 
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Nome -->
  <div class="form-group">
    <%= f.label("Nome*", class: "col-lg-3 control-label") %>
    <div class="col-lg-8">
      <%= f.text_field(:name, placeholder: "ex.: Fulado da Silva", class: "form-control parsley-validated") %>
    </div>
  </div>
  <!-- E-mail -->
  <div class="form-group">
    <%= f.label("E-mail*", class: "col-lg-3 control-label") %>
    <div class="col-lg-8">
      <%= f.text_field(:email, placeholder: "ex.: fulano.silva@exemplo.com", class: "bg-focus form-control parsley-validated") %>
    </div>
  </div>
  <!-- Título -->
  <div class="form-group">
    <%= f.label("Título*", class: "col-lg-3 control-label") %>
    <div class="col-lg-8">
      <%= f.text_field(:title, placeholder: "ex.: Consultor(a) de Direito Ambiental", class: "form-control parsley-validated") %>
    </div>
  </div>
  <!-- Oportunidade -->
  <div class="form-group">
    <%= f.label("Oportunidade*", class: "col-lg-3 control-label") %>
    <div class="col-lg-8">
      <%= f.text_area(:body, placeholder: "ex.: A empresa ACME, de Santa Catarina, está com projeto na Bahia e precisa de advogado com especialização em direito ambiental...", rows: "5", class: "form-control parsley-validated") %>
      <!-- Termo de Uso -->
      <div class="checkbox">
        <label>
          <input name="agree" type="checkbox"> Agree the <a href="#">terms and policy</a>
        </label>
      </div>
    </div>
  </div>
  <!-- Ações -->
  <div class="form-group">
    <div class="col-lg-9 col-lg-offset-3">
      <%= button_tag( :class => "btn btn-primary") do %>
         <i class='icon-plus'show></i>Publicar
      <% end %>
      <%= link_to "<i class='icon-home'show></i>Home".html_safe ,'/posts', class: "btn btn-info" %>
      <%= link_to "<i class='icon-remove'show></i>Cancelar".html_safe, posts_path ,class: "btn" %>
    </div>
  </div><div class="form-group">
    <div class="col-lg-9 col-lg-offset-3">
       <h5> * Campos de preenchimento obrigatório.</h5>
    </div>
  </div>

<% end %>
