<% if @posts.empty? %>
	<h3>Make a first post!</h3>
<% end %>

<%= render "header"%>

<!-- COVER -->
<%= render "cover"%>

<!-- POSTS -->
<section id="posts" class="posts">
	<div id="posts-inner" class="posts-inner">
	
		<%= render @posts%>
	
	</div>
</section>

<% content_for :js do%>
	var switchTo5x=true;
<% end %>
<%= javascript_include_tag "http://w.sharethis.com/button/buttons.js" %>
<% content_for :js do%>
	stLight.options({publisher: "2f7cb2db-1fd0-4dde-9e13-c4c375b4da8b", doNotHash: false, doNotCopy: false, hashAddressBar: false});
<% end %>

<%= paginate @posts %>
