<% if notice.present? %>
	<%= render partial: "header", locals: { search: false, titulo: "Veja como ficou a oportunidade!"} %>
<% else %>
	<%= render partial: "header", locals: { search: false, titulo: "A Oportunidade!"} %>
<% end %>
<%= render 'cover' %>

<section id="posts" class="posts">
	<div id="posts-inner" class="posts-inner">
		<br><br><br><br>
		<% if notice.present? %>
			<!--<p id="notice"><%= notice %></p>-->
			<% who_is = 'edit'%>
			<div class="alert alert-success">
        		<h4>Sua oportunidade foi enviada para nosso Administrador para aprovação.</h4>
				<h4> Em até 20 minutos ela estará no ar. </h4>
				<h4> Para remover ou editar, envie um e-mail para admin@hunterco.com.br com ID  <%=@post.id%> e informe qual sua solicitação.</h4>
        	</div>
        <% else %>
        	<% who_is = 'show'%>
		<% end %>
     

		<%= render partial: @post, locals: {who_is: who_is} %>

	</div>
</section>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
