<% if notice.present? %>
	<meta HTTP-EQUIV="REFRESH" content="4; url=<%= posts_path %>">
	<p id="notice"><%= notice %></p>
<% end %>

<%= render partial: "header", locals: { search: true} %>

<%= render 'cover' %>

<section id="posts" class="posts">
	<div id="posts-inner" class="posts-inner">
		<br><br><br><br>

		<article class="post">
			<div class="post-item-avatar"><span>H</span></div>
			<h2 class="post-title"><%= @post.title %></h2>
			<p class="description"><%= @post.body %></p>
			<p class="secundary"><i>Publicado por: William de Olivera - 14/10/2013 às 17:30</i></p>
			
		</article>
	</div>
</section>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
