<% if notice.present? %>
	<meta HTTP-EQUIV="REFRESH" content="4; url=<%= posts_path %>">
	<p id="notice"><%= notice %></p>
<% end %>

<p>
  <b>Name:</b>
  <%= @post.name %>
</p>

<p>
  <b>Body:</b>
  <%= @post.body %>
</p>

<p>
  <b>Rating:</b>
  <%= @post.rating %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
