<%= render partial: "header", locals: { search: false, titulo: "Seus dados de candidato!"} %>

<%= render 'cover' %>

<section id="posts" class="posts">
	<div id="posts-inner" class="posts-inner">
			<br><br><br><br>

			<div class="alert alert-success">
        		<h4>Parabéns! O dono da oportunidades estará recebendo as seus dados publicados!</h3>
        	</div>
        	<h2 class="post-title"><%= @candidato.name %></h2>
        	<p class="description"><%= @candidato.email %></p>
        	<p class="description"><a href="<%= @candidato.urllinkedin %>"> <%= @candidato.urllinkedin %></a></p>
        	<br/>
        	<%= link_to "<i class='icon-home'show></i>Home".html_safe ,'/posts', class: "btn btn-sm btn-info" %>
				
	</div>
</section>

